@font-face {
font-family: 'Tahoma';
src: url('https://turnoffthetv.github.io/fonts/tahoma.ttf') format('truetype');
}

@font-face {
font-family: 'start';
src: url('https://turnoffthetv.github.io/fonts/start.ttf') format('truetype');
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.header {
font-family: start;
color:blue;
background:rgb(0,255,0);
user-select:none;
}

.headline {font-family: start;color:blue;}

.strong {font-family: start;color:blue;}

.hiddenlink {color:rgb(200,200,255);text-decoration:none;}

.hiddenlink:visited {color:rgb(200,200,255);text-decoration:none;}

.hiddenlink:hover {color:rgb(0,0,100);text-decoration:none;}

.error {color:blue; font-family:start;}

.unavaliable {color:rgb(100,100,100);text-decoration:underline;cursor:default;}

#message-box {border:dotted;}
#name {background:black;}

head {background:rgb(0,255,0);}
body {font-family: Tahoma;color:black;background:rgb(200,200,255);}
a {color:rgb(0,200,200);}
a:visited {color:rgb(50,175,175);}
