@font-face {
font-family: 'tahoma';
src: url('https://turnoffthetv.github.io/fonts/tahoma.ttf') format('truetype');
}

#m {font-family:"Arial"; background:rgb(197, 54, 45); font-size:28px;color:white;}
#p {font-family:"Arial"; background:rgb(0, 0, 4); font-size:28px;color:white;}
#r {font-family:"Arial"; background:rgb(63, 121, 184); font-size:28px;color:white;}
#tagline {font-family:"Arial";background:rgb(89, 89, 89); font-size:20px;color:white;}

body {background:white;font-family:tahoma;}
